<style>
    .card-wrapper {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .card {
        -webkit-box-shadow: 0 6px 6px -6px #777;
        -moz-box-shadow: 0 6px 6px -6px #777;
        box-shadow: 0 6px 6px -6px #777;
        text-align: center;
        border: 1px solid #c3c1c1;
        border-radius: 4px;
    }

    .card-border-top {
        border-top: 3px solid #32c5d2;
    }

    .card-KPI {
        height: 80px;
        display: grid;
        align-items: center;
        font-size: 15px;
    }

    /* .modal {
        top: 35%;
    } */

    .modal .bootbox-body,
    .modal-footer>button {
        color: #323d47;
        font-size: 14px;
    }

    .view-tabs a {
        color: rgb(58, 112, 161);
        font-weight: 500;
    }

    a.selected {
        color: rgb(0, 0, 0);
    }

    @media (max-width: 375px) {
        .card-KPI {
            height: 90px;
        }
    }

    .select2-container--bootstrap {
        width: 100% !important;
    }

    .room-img {
        width: 100%;
        height: 60%;
    }

    @media (max-width: 425px) {
        .room-img {
            width: 100%;
            height: 50%;
        }
    }

    .room-card {
        cursor: pointer;
    }

    .room-card>.date {
        color: #7d7d7d;
    }

    .fa-ellipsis-v {
        color: #337ab7;
        font-size: medium;
    }

    .dropdown-menu {
        left: auto;
        right: 0;
        min-width: 100px;
        margin-top: 20px !important;
    }

    .dropdown>.dropdown-menu:before {
        left: auto;
        right: 0px;
    }

    .dropdown>.dropdown-menu:after {
        left: auto;
        right: 1px;
    }

    .fa-pencil {
        color: #337ab7 !important;
    }

    .rooms-container {
        overflow-y: auto;
        height: 70vh;
    }
    .room-options a:first-child {
        padding: 0 5px;
    }
</style>
<!-- Breadcrumb and heading part -->
<div class="headerFreez border_bottom col-md-12 col-xs-12 margin-bottom-5">
    <ul class="page-breadcrumb breadcrumb sbold">
        <li>
            <a ng-click="toClaimCenter()">{{"Title.ClaimCenter"|translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ng-click="toClaim()">{{commonObj.claimNumber}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            {{'Title.YourLossInventory' | translate}}
        </li>
    </ul>
    <div class="mainHeadingDiv">
        <div class="caption font-gray-sharp">
            <span class="caption-subject">{{'Title.YourLossInventory' | translate}}</span>
        </div>
    </div>
</div>
<!-- Breadcrumb and heading part End-->
<div class="col-xs-12 padding1px">
    <div class="col-xs-12 margin-top-10 margin-bottom-10 clearfix card-wrapper">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 column">
            <div class="card card-border-top card-KPI">
                {{"Label.TotalItems"|translate}}
                <label>{{claimItemsInfo.totalClaimedItems ? claimItemsInfo.totalClaimedItems : 0}}</label>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 column">
            <div class="card card-border-top card-KPI">
                {{"Label.ReplacementWorth"|translate}}
                <label>{{claimItemsInfo.totalValueOfItems ? claimItemsInfo.totalValueOfItems : 0 | currency}}</label>
            </div>
        </div>
    </div>

    <div class="col-xs-12 mainHeadingDiv border_bottom form-group">
        <div class="caption font-gray-sharp">
            <span class="caption-subject">{{'Title.DetailedInventory' | translate}}</span>
        </div>
    </div>
    <div class="col-xs-12 padding1px form-group">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 pull-left padding1px view-tabs">
            <div class="col-xs-6">
                <a href="#" data-toggle="tab" ng-class="{selected:currentInventoryTab==='rooms'}"
                    ng-click="currentInventoryTab!='rooms' ? changeView('rooms') : angular.noob()">
                    {{'Label.ViewByRooms' | translate}}&nbsp;({{userRooms ? userRooms.length : 0}})</a>
            </div>
            <div class="col-xs-6">
                <a href="#" data-toggle="tab" ng-class="{selected:currentInventoryTab==='list'}"
                    ng-click="currentInventoryTab!='list' ?  changeView('list') : angular.noob()">
                    {{'Label.ViewByList' | translate}}&nbsp;({{totalItems ? totalItems : 0}})</a>
            </div>
        </div>

        <div class="col-md-12 col-xs-12 padding1px margin-top-10" ng-if="currentInventoryTab==='rooms'">
            <div class="col-lg-2 col-md-3 col-xs-12 form-group ">
                <div class="items-align-center">
                    <a ng-click="addUserRoom($event)" id="new-room-icon" name="new-room-icon" class="round-button"><i
                            class="fa fa-plus" aria-hidden="true"></i></a>
                    <a ng-click="addUserRoom($event)" id="new-room-btn" name="new-room-btn"
                        class="noTextDecoration font-size-13">{{"ControlText.AddNewRoom"|translate}}</a>
                </div>
                <div class="margin-top-10 text-center">
                    <div class="caption font-green-sharp">
                        <div class="input-icon left">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control form-control-solid input-circle input-block-level"
                                ng-model="searchKeyword" id="searchRoom" name="searchRoom"
                                ng-change="searchRoomByKeyword(searchKeyword)"
                                placeholder='{{"Room"|translate}}' style="border: 1px solid rgb(163, 161, 161);">
                        </div>
                    </div>
                </div>

                <div class="margin-top-10 text-center" ng-show="defaultRooms.showDiv">
                    <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                        <input type="checkbox" id="check-all-box" name="check-all-box" ng-model="defaultRooms.checkAll"
                            ng-click="selectAllDefaultRooms()" />
                        <span></span>
                    </label>
                    <span>Select all default rooms</span>
                    <div class="margin-top-10">
                        <button id="add-multiple-btn" name="add-multiple-btn" ng-disabled="!defaultRooms.showAddButton"
                            ng-click="addMultipleRooms()" class="btn sbold btnMargin">
                            Add selected rooms
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-10 col-md-9 col-xs-12 form-group rooms-container custom_scroll_bar">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 text-center margin-bottom-15"
                    ng-repeat="room in userRooms track by $index">
                    <div class="col-md-11 col-sm-12 col-xs-12 card room-card" style="padding: 5px; height: 210px;"
                        ng-style="{'background-color' : room.isNew ? '#AAD9A0' : '#ffffff'}">
                        <div class="dropdown display-block more-options">
                            <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single pull-left"
                                ng-show="room.isDefaultRoom">
                                <input type="checkbox" ng-model="room.selected" name="room-select-box"
                                    id="room-select-box" ng-click="selectDefaultRoom()" />
                                <span></span>
                            </label>
                            <span class="pull-right room-options">
                                <a ng-click="editRoom(room, $index)" id="edit-btn" title="Edit room" name="edit-btn"><i
                                    class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a ng-click="removeRoom(room, $index)" id="delete-btn" title="Delete room" name="delete-btn"><i
                                        class="fa fa-trash text-danger"
                                        aria-hidden="true"></i></a>
                            </span>                            
                        </div>
                        <img ng-src="assets/global/img/no-image.png"
                            ng-click="!room.isDefaultRoom ? roomDetails(room) : angular.noob()"
                            class="room-img text-center margin-top-5" title="Room Photo" id="room-img" alt="Room Pic" />
                        <h5 class="display-block sbold" style="margin: 5px;" id="room-name"
                            ng-click="!room.isDefaultRoom ? roomDetails(room) : angular.noob()"
                            title="{{room.roomName + '(' + room.roomType.name + ')'}}">
                            {{room.roomName | limitTo:15}}{{room.roomName.length <= 15 ? '' : '...'}}&nbsp;<span
                                ng-show="!room.isDefaultRoom">({{room.claimItemsInfo.totalClaimedItems ? room.claimItemsInfo.totalClaimedItems : 0}})</span>
                        </h5>
                        <a ng-click="editRoom(room, $index)" id="add-room-btn" ng-show="room.isDefaultRoom">Add</a>
                        <span class="margin-top-5 room-value" ng-show="!room.isDefaultRoom" id="room-value"
                            name="room-value"
                            ng-click="roomDetails(room)">{{room.claimItemsInfo.totalValueOfItems ? room.claimItemsInfo.totalValueOfItems : 0.00 | currency}}</span>
                        <span class="display-block font-size-12 date" id="room-date" name="room-date"
                            ng-show="!room.isDefaultRoom"
                            ng-click="roomDetails(room)">{{'Label.RoomLastUpdatedOn' | translate}}{{room.lastModifiedDate | DateTimeFormatMMMdyyyy}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 padding1px margin-top-10" ng-if="currentInventoryTab==='list'">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 clearfix options_Background">
                    <div class="pull-right col-md-4 col-xs-12 manageSearch margin-top-5 margin-bottom-5 padding1px">
                        <div class="input-icon left">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control form-control-solid input-circle input-block-level"
                                ng-model="searchPostLostItems" id="search-items-text"
                                placeholder="{{'Label.LostDamagedSearchText'|translate}}"
                                ng-keyup="searchPostLostItems.length > 0 ? ($event.keyCode == 13 && customSearch(searchPostLostItems)) : customSearch('')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 clearfix">
                <div class="table-responsive col-md-12 PostLossItemList padding1px">
                    <table class="table table-striped table-bordered table-hover" id="NavigateTable">
                        <thead>
                            <tr>
                                <th ng-click="sortpostlostitem('itemNumber')" id="itemNumber">
                                    {{"Item #"|translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='itemNumber'"
                                        ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                </th>
                                <th ng-click="sortpostlostitem('description')" id="itemDesc">
                                    {{"Table.ItemDescription"|translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='description'"
                                        ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                </th>
                                <th ng-click="sortpostlostitem('brand')" id="itemBrand">
                                    {{"Table.Brand"|translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='brand'"
                                        ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                </th>
                                <th ng-click="sortpostlostitem('model')" id="itemModel">
                                    {{"Table.Model"|translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='model'"
                                        ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                </th>
                                <th ng-click="sortpostlostitem('category')" id="itemCategory">
                                    {{"Table.Category"|translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='category'"
                                        ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                </th>
                                <th ng-click="sortpostlostitem('insuredPrice')" id="itemUnitPrice">
                                    {{"Table.UnitCost"|translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='insuredPrice'"
                                        ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                </th>
                                <th ng-click="sortpostlostitem('quantity')" id="itemQty">
                                    {{"Table.Qty"|translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='quantity'"
                                        ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                </th>
                                <th ng-click="sortpostlostitem('ageYears')" id="itemAge">
                                    {{"Table.Age"|translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='ageYears'"
                                        ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                </th>
                                <th ng-click="sortpostlostitem('totalCost')" id="itemTotalCost">
                                    {{"Table.TotalCost"|translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='totalCost'"
                                        ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                </th>
                                <th ng-click="sortpostlostitem('room')" id="itemRoom">
                                    {{"Table.Room"|translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='room'"
                                        ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                </th>
                                <th ng-click="sortpostlostitem('purchasedFrom')" id="itemPurchasedFrom">
                                    {{"Table.PurchasedFrom"|translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='purchasedFrom'"
                                        ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                </th>
                                <th style="border-left: 2px solid #ffffff;" id="itemReplacementDesc"
                                    ng-click="sortpostlostitem('adjusterDescription')">
                                    {{"Replacement Description"|translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='adjusterDescription'"
                                        ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                </th>
                                <th ng-click="sortpostlostitem('isReplaced')" id="itemIsReplaced">
                                    {{"Table.Replaced"|translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='isReplaced'"
                                        ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="AddNewItem===true">
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="text" class="form-control " ng-model="selected.ItemId"
                                        placeholder="{{'Table.ItemId'|translate}}">
                                </td>
                                <td>
                                    <input type="text" class="form-control " ng-model="selected.status.status"
                                        placeholder="{{'Table.Status'|translate}}" readonly>
                                </td>
                                <td>
                                    <select class="input-small select2me form-control " data-placeholder="Select..."
                                        ng-model="selected.category.id" ng-change="GetSubCategory()"
                                        ng-options="option.categoryId as option.categoryName for option in DdlSourceCategoryList"></select>
                                </td>
                                <td>
                                    <input type="text" class="form-control setwidth" ng-model="selected.quantity"
                                        ng-attr-placeholder="{{'Table.Qty'|translate}}">
                                </td>
                                <td>
                                    <input type="text" class="form-control setwidth" ng-model="selected.description"
                                        ng-attr-placeholder="{{'Table.Description'|translate}}">
                                </td>
                                <td>
                                    <input type="text" class="form-control setwidth" ng-model="selected.insuredPrice"
                                        ng-attr-placeholder="{{'Table.Cost'|translate}}">
                                </td>
                                <td>
                                    <div class="btn-group btn-group-circle btn-outline"
                                        style="display:flex !important;">
                                        <span ng-click="SaveItemDetails()"
                                            class="btn green btn-sm btn-outline">Save</span>
                                        <span ng-click="reset()" class="btn red btn-sm  btn-outline">Cancel</span>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="FiletrLostDamageList != null"
                                dir-paginate="item in FiletrLostDamageList | itemsPerPage:pagesize track by $index"
                                total-items="totalItems" current-page="pagination.current" ng-include="'display'"
                                pagination-id="FiletrLostDamageList">
                            </tr>
                            <tr ng-show="!FiletrLostDamageList.length">
                                <td colspan="13" class="text-center text-danger">
                                    {{"Table.NoItemsText"|translate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <script type="text/ng-template" id="display">
                        <td ng-click="goToDetails(item)">
                            {{item.claimItem.itemNumber}}</td>
                        <td ng-click="goToDetails(item)" class="col-xs-3"
                            ng-init="desclimit = desclimit; descMoreShown = false">{{(item.claimItem.description
                                                        | limitTo: desclimit) + (item.claimItem.description.length > desclimit ?
                                                        '...' :
                                                        '')}}
                            <a ng-show="item.claimItem.description.length > desclimit && !descMoreShown" stop-propagation
                                ng-click="desclimit=item.claimItem.description.length; descMoreShown = true">
                                More
                            </a>
                            <a ng-show="descMoreShown" href stop-propagation
                                ng-click="descMoreShown = false; desclimit=30; ">
                                Less </a>
                        </td>
                        <td ng-click="goToDetails(item)">
                            {{item.claimItem.brand}}</td>
                        <td ng-click="goToDetails(item)">
                            {{item.claimItem.model}}</td>
                        <td ng-click="goToDetails(item)">
                            {{item.claimItem.category.name}}</td>
                        <td ng-click="goToDetails(item)">
                            {{item.claimItem.insuredPrice | currency}}</td>
                        <td ng-click="goToDetails(item)">
                            {{item.claimItem.quantity}}</td>
                            <td ng-click="goToDetails(item)" class="text-left">
                                <span
                                    ng-if="(item.claimItem.ageYears!=0 && item.claimItem.ageYears!=null)&&(item.claimItem.ageMonths!=0 && item.claimItem.ageMonths!=null)">
                                    {{item.claimItem.ageYears+'yr ' + item.claimItem.ageMonths +'mo'}}
                                </span>
                                <span
                                    ng-if="(item.claimItem.ageYears==0||item.claimItem.ageYears==null) && (item.claimItem.ageMonths!=0 && item.claimItem.ageMonths!=null )">{{item.claimItem.ageMonths+'mo'}}</span>
                                <span
                                    ng-if="(item.claimItem.ageYears!=0 && item.claimItem.ageYears!=null) && (item.claimItem.ageMonths==0 || item.claimItem.ageMonths==null )">{{item.claimItem.ageYears+'yr'}}</span>
                                <span
                                    ng-if="(item.claimItem.ageYears==0||item.claimItem.ageYears==null )&& (item.claimItem.ageMonths==0||item.claimItem.ageMonths==null)">NA</span>
                            </td>
                        <td ng-click="goToDetails(item)">
                                {{item.claimItem.totalStatedAmount | currency}}</td>                                                
                        <td ng-click="goToDetails(item)">
                            {{item.claimItem.room.roomName}}</td>
                        <td ng-click="goToDetails(item)">
                            {{item.claimItem.originallyPurchasedFrom.name}}</td>
    
                        <td ng-click="goToDetails(item)" class="col-xs-3" ng-init="limit = limit; moreShown = false">{{item.claimItem.adjusterDescription != null ? ((item.claimItem.adjusterDescription
                                                        | limitTo: limit) + (item.claimItem.adjusterDescription.length > limit ?
                                                        '...' :
                                                        '')) : ''
                                                    }}
                            <a ng-show="item.claimItem.adjusterDescription.length > limit && !moreShown" stop-propagation
                                ng-click="limit=item.claimItem.adjusterDescription.length; moreShown = true">
                                More
                            </a>
                            <a ng-show="moreShown" href stop-propagation ng-click="moreShown = false; limit=30; ">
                                Less </a>
                        </td>
                        <td ng-click="goToDetails(item)"><span ng-if="item.claimItem.isReplaced===true">Yes</span><span
                                ng-if="item.claimItem.isReplaced===false">No</span>
                        </td>                      
                    </script>
                    <script type="text/ng-template" id="edit">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <input type="text" class="form-control " ng-model="selected.itemName" placeholder="{{'Table.ItemName'|translate}}">
                                                </td>
                                                <td>                                                    
                                                    <input type="text" class="form-control setwidth" ng-model="selected.description" ng-attr-placeholder="{{'Table.Description'|translate}}">
                                                </td>                                                
                                                <td>
                                                    <input type="text" readonly class="form-control " ng-model="selected.status.status" placeholder="{{'Table.Status'|translate}}">
                                                </td>
                                                <td>
                                                    <select class="input-small select2me form-control " data-placeholder="Select..." ng-model="selected.category.id" ng-change="GetSubCategory()"
                                                            ng-options="option.categoryId as option.categoryName for option in DdlSourceCategoryList"></select>
                                                </td>
                                                <td>
                                                    <select class="input-small select2me form-control  " data-placeholder="Select..." ng-model="selected.subCategory.id"
                                                            ng-options="option.id as option.name for option in SubCategory"></select>
                                                </td>                                               
                                                <td>
                                                    <div style="display:flex;width:110px;">
                                                        <div class="pull-left text-center" style="margin-left:5px"><input type="text" class="form-control" style="width:50px;" ng-model="selected.ageYears" ng-attr-placeholder="{{'Table.AgeInYear'|translate}}"></div>
                                                        <div class="pull-right text-center"><input type="text" class="form-control" style="width:50px;" ng-model="selected.ageMonths" ng-attr-placeholder="{{'Table.AgeInMonths'|translate}}"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control setwidth" ng-model="selected.quantity" ng-attr-placeholder="{{'Table.Qty'|translate}}">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control setwidth" ng-model="selected.insuredPrice" ng-attr-placeholder="{{'Table.Cost'|translate}}">
                                                </td>
                                                <td>
                                                    <div class="btn-group btn-group-circle btn-outline" style="display:flex !important;">
                                                        <span ng-click="SaveItemDetails(selected.id)" class="btn green btn-sm btn-outline">Save</span>
                                                        <span ng-click="reset()" class="btn red btn-sm  btn-outline">Cancel</span>
                                                    </div>
                                                </td>

                                            </script>
                </div>
                <div>
                    <span ng-if="FiletrLostDamageList.length > 0" class="bold pull-left" style="color: #337ab7;">
                        Showing {{(pagesize * (pagination.current - 1)) + 1}} to {{lastRecord}} of {{totalItems}} items
                    </span>
                    <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true"
                        class="pull-right" on-page-change="nextItemsPage(newPageNumber)" max-size="10"
                        pagination-id="FiletrLostDamageList">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.div_MainBody').on("keypress", function (e) {
        if (e.which == 13) {
            e.preventDefault();
            $(".bootbox .btn-outline").click();
        }
    });
    $('.dropdown').click(function (e) {
        e.preventDefault();
        setTimeout($.proxy(function () {
            if ('ontouchstart' in document.documentElement) {
                $(this).siblings('.dropdown-menu').off().remove();
            }
        }, this), 0);
    });
</script>