<div class="col-md-12 padding1px">
    <ul class="page-breadcrumb breadcrumb sbold">
        <li>
            <a ng-click="GoToHome()">{{"Home"|translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>{{"Recurring Payment"|translate}}</span>
        </li>
    </ul>
</div>
<div class="col-md-12 col-lg-12 portlet light bordered clearfix">
    
</div>
 <!--Your Agent-->
<div class="row" ng-include="'views/PolicyHolder/YourAgent.html'">
</div>
<!--End Your Agent-->