<div id="myModal">
    <div id="responsive">
        <div class="modal-header">
            <a class="close" ng-click="cancel()" aria-hidden="true"></a>
            <h4 class="modal-title">{{"Labels"|translate}}</h4>
        </div>
        <div class="modal-body" style="min-height:200px">
            <div class="col-md-12  clearfix  padding1px form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-xs-12 col-sm-12 form-group" ng-form="LabelForm" id="LabelForm">
                        <div class="col-sm-8 col-md-9 ">
                            <input type="text" class="form-control" required ng-model="commonObj.LabelName" name="textLabel" placeholder='{{"New Label"|translate}}'>
                            <div class="errormessage">
                                <div ng-message="required" ng-show="(LabelForm.textLabel.$error.required && LabelForm.textLabel.$touched )">
                                    <span class="text-danger">{{"Please enter label.."|translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3  col-sm-offset-1 col-md-2">
                            <button class="btn sbold green btnMargin pull-right padding1px" ng-disabled="LabelForm.$invalid || LabelForm.$pristine" ng-click="AddLabel()">
                                {{"Add Label"|translate}}
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 margin-top-20">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 margin-bottom-5" ng-repeat="item in commonObj.Labels">
                                <div style="display:flex">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 padding1px"> {{item.tag}}  </label>
                                    <!--<a href="" class="fa fa-close text-danger" style="text-decoration: none;margin-top: 6px;" ng-click="DeleteLabel(item.id,$index)"></a>-->

                                    <span ng-click="DeleteLabel(item.id,$index)">
                                        <i class="fa fa-times-circle fa-lg text-danger" style="margin-top: 22%;
    font-size: 18px;" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline dark" ng-click="cancel()">{{"Close"|translate}}</button>
        </div>
    </div>
</div>