<style>
    .boderdashed{
       border-bottom: 2px dashed #b1acac
    }
</style>
<div class="col-md-12">
    <ul class="page-breadcrumb breadcrumb sbold">
        <li>
            <a ng-click="GotoDashboard()">{{"Home"|translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ng-click="GoToSearchResults()">{{"SearchResults"|translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>{{"First Name Last Name"|translate}}</span>
        </li>
    </ul>
  <div class="portlet light bordered">
      <div class="portlet-body">
          <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 boderdashed margin-bottom-10">
                  <h4 class="font-blue">{{"Policy#"|translate}}</h4>
                  <div class="portlet">
                      <div class="portlet-title"></div>
                  </div>
                  <div class="col-md-12 col-lg-12 col-sm-12">
                      <div class="col-md-12 col-sm-12 form-group">
                          <label class="control-label col-md-12 col-sm-12">{{"Policy Number"|translate}}:</label>
                      </div>
                      <div class="col-md-12 col-sm-12 form-group">
                          <label class="control-label col-md-12 col-sm-12">{{"Policy Term"|translate}}:</label>
                      </div>
                      <div class="col-md-12 col-sm-12 form-group">
                          <label class="control-label col-md-12 col-sm-12">{{"Payment Plan"|translate}}:</label>
                      </div>
                      <div class="col-md-12 col-sm-12 form-group">
                          <label class="control-label col-md-12 col-sm-12">{{"Insurance Agent / Office"|translate}}:</label>
                      </div>
                      <div class="col-md-12 col-sm-12 form-group">
                          <label class="control-label col-md-12 col-sm-12">{{"Location Of Property"|translate}}:</label>
                      </div>
                  </div>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12 boderdashed margin-bottom-10">
                  <h4 class="font-blue">{{"PolicyHolder Information"|translate}}</h4>
                  <div class="portlet">
                      <div class="portlet-title"></div>
                  </div>
                  <div class="col-md-12 col-lg-12 col-sm-12">
                      <div class="col-md-2 col-lg-2 col-sm-4">
                          <img class="thumbnail img-responsive" ng-src="assets/global/img/no-image.png" height="150px" width="150px" alt="PolicyHolder" />
                      </div>
                      <div class="col-md-10 col-lg-10 col-sm-8">
                          <div class="col-md-12 col-sm-12 form-group">
                              <label class="control-label col-md-12 col-sm-12">{{"PolicyHolder Name"|translate}}:</label>
                          </div>
                          <div class="col-md-12 col-sm-12 form-group">
                              <label class="control-label col-md-12 col-sm-12">{{"Permanent Address"|translate}}:</label>
                          </div>
                          <div class="col-md-12 col-sm-12 form-group col-sm-12">
                              <label class="control-label col-md-12 col-sm-12">{{"EmailId"|translate}}:</label>
                          </div>
                          <div class="col-md-4 col-sm-6 form-group">
                              <label class="control-label col-md-12 col-sm-12">{{"Primary Phone"|translate}}:</label>
                          </div>
                          <div class="col-md-4 col-sm-6 form-group">
                              <label class="control-label col-md-12 col-sm-12">{{"Mobile Phone"|translate}}:</label>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12 boderdashed margin-bottom-10">
                  <h4 class="font-blue">{{"Coverage Information"|translate}}</h4>
                  <div class="portlet">
                      <div class="portlet-title"></div>
                  </div>
                  <div class="col-md-12 col-lg-12 col-sm-12">
                      <div class="col-md-12 col-sm-12 form-group">
                          <label class="control-label col-md-12 col-sm-12">{{"Liability"|translate}}:</label>
                      </div>
                      <div class="col-md-12 col-sm-12 form-group">
                          <label class="control-label col-md-12 col-sm-12">{{"Medicle Payments"|translate}}:</label>
                          <label class="control-label col-md-11 col-sm-11 col-sm-offset-1 col-md-offset-1 col-xs-10 col-xs-offset-2">{{"Per Person"|translate}}:</label>
                          <label class="control-label col-md-11 col-sm-11 col-sm-offset-1 col-md-offset-1 col-xs-10 col-xs-offset-2">{{"Per Occurence"|translate}}:</label>
                      </div>
                      <div class="col-md-12 col-sm-12 form-group">
                          <label class="control-label col-md-12 col-sm-12">{{"Dwelling (V) Homeowner"|translate}}:</label>
                      </div>
                      <div class="col-md-12 col-sm-12 form-group">
                          <label class="control-label col-md-12 col-sm-12">{{"Personal Property"|translate}}:</label>
                      </div>
                      <div class="col-md-12 col-sm-12 form-group">
                          <label class="control-label col-md-12 col-sm-12">{{"Private Unattached Structures"|translate}}:</label>
                      </div>
                      <div class="col-md-12 col-sm-12 form-group">
                          <label class="control-label col-md-12 col-sm-12">{{"Additional Living Expences"|translate}}:</label>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
