<!-- Steps screen -->
<style>
    .rtable {
        /*!
    // IE needs inline-block to position scrolling shadows otherwise use:
    // display: block;
    // max-width: min-content;
    */
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .rtable,
    .rtable--flip tbody {
        /*// optional - enable iOS momentum scrolling*/
        -webkit-overflow-scrolling: touch;
        /*// scrolling shadows*/
        background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center, radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
        background-size: 10px 100%, 10px 100%;
        background-attachment: scroll, scroll;
        background-repeat: no-repeat;
    }


        .rtable td:first-child,
        .rtable--flip tbody tr:first-child {
            background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
            background-repeat: no-repeat;
            background-size: 20px 100%;
        }

        /*// gradient on the last cells to hide the right shadow*/
        .rtable td:last-child,
        .rtable--flip tbody tr:last-child {
            background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
            background-repeat: no-repeat;
            background-position: 100% 0;
            background-size: 20px 100%;
        }

        .rtable th {
            text-align: left;
            text-transform: uppercase;
            padding: 6px 12px;
            border: 1px solid #d9d7ce;
            min-height: 32px !important;
        }

        /*.rtable th,*/
        .rtable td {
            min-height: 32px !important;
            min-width: 180px;
            padding: 6px 12px;
            border: 1px solid #d9d7ce;
        }

    .rtable--flip {
        display: flex;
        overflow: hidden;
        background: none;
    }

        .rtable--flip thead {
            display: flex;
            flex-shrink: 0;
            min-width: min-content;
        }

        .rtable--flip tbody {
            display: flex;
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .rtable--flip tr {
            display: flex;
            flex-direction: column;
            min-width: min-content;
            flex-shrink: 0;
        }

        .rtable--flip td,
        .rtable--flip th {
            display: block;
        }

        .rtable--flip td {
            background-image: none !important;
            /*// border-collapse is no longer active*/
            border-left: 0;
        }

            /*// border-collapse is no longer active*/
            .rtable--flip th:not(:last-child),
            .rtable--flip td:not(:last-child) {
                border-bottom: 0;
            }

      .blue {
        background-color:#337ab7;
      }
</style>
<!-- Start of Steps screen -->
<div class="col-md-12 " ng-show="stepScreen">
    <div class="portlet light bordered ">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <span class="caption-subject green bold">{{"Bulk Upload Zip Codes Premiums"|translate}}</span>
            </div>
            <div class="tools">
                <button class="sbold btn btnMargin" ng-click="cancel($event)">{{'ControlText.Cancel'|translate}}</button>
                <button class="sbold btn btnMargin" ng-click="startUpload($event)" ng-disabled="FileDetails.Files.length===0">{{'ControlText.StartUpload'|translate}}</button>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12 margin-bottom-15">
                    <div class="col-md-12 margin-bottom-15 ">
                        <span class="control-label bold">{{'ControlText.step'|translate}}</span>
                    </div>
                    <div class="col-md-12 margin-bottom-15">
                        <span class="control-label">{{'ControlText.step1'|translate}} <a target="_self" href="{{TemplateURL}}" download >&nbsp;{{'ControlText.step1.1'|translate}} &nbsp;</a>{{'ControlText.step1.2'|translate}}</span>
                    </div>
                    <div class="col-md-12  margin-bottom-15">
                        <span class="control-label">{{'ControlText.step2'|translate}}</span>
                        <ul class="margin-top-10 margin-bottom-10">
                            <li>
                                <span class="control-label">{{'ControlText.step2.1'|translate}}</span>
                            </li>
                            <li>
                                <span class="control-label">{{'ControlText.step2.2'|translate}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12  margin-bottom-15">
                        {{'ControlText.step3'|translate}}
                    </div>
                    <div class="col-md-12 col-sm-12  margin-bottom-15 form-group">
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 styleflex">
                            <span class="control-label"> {{'ControlText.SelectFile'|translate}} :</span>
                            <div class="col-md-9"><input class="form-control" ng-model="FileDetails.FileName" type="text" placeholder="{{'.csv, .xlx, .xlsx'|translate}}" /></div>
                        </div>

                        <div class="col-md-1 col-lg-1 col-sm-2 col-xs-12 padding1px">
                            <input type="file" name="FileUpload" id="FileUpload" class="green" ng-model="fileControl" onchange="angular.element(this).scope().getFileDetails(this)" style="display: none;">
                            <button class="sbold btn btnMargin" ng-click="FileUploadEvent($event)">{{'ControlText.SelectFile'|translate}}</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <span class="text-danger sbold">{{ErrorMessage}}</span>
                        </div>
                    </div>

                    <div class="col-md-12" ng-if="showProgress">
                        <uib-progressbar class="progress-striped green" value="uploader.progress" type="{{type}}">
                            {{type}}
                            <i> {{uploader.progress}}% </i>
                        </uib-progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Steps screen -->

<!-- Verify screen -->
<!-- <div class="col-md-12" ng-if="VerifyScreen">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <span class="caption-subject green bold">{{"VerifyInformation"|translate}}</span>
            </div>
            <div class="tools">
                <button class="sbold btn btnMargin" ng-click="CancelVerify($event)">{{'ControlText.Cancel'|translate}}</button>
                <button class="sbold btn btnMargin" ng-click="Verify($event)">{{'ControlText.FinishUplolad'|translate}}</button>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">

                <div class="col-md-12 table-responsive">
                    <table class="rtable rtable--flip">
                        <tr>
                            <th style="display:none"></th>
                            <th ng-click="sort(id)" style="min-width:80px !important;">
                                <span class="bold" style="padding:5px !important;">{{"Employee ID"|translate}}</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>

                            </th>
                            <th ng-click="sort(firstName)" style="min-width:80px !important;">
                                <span class="bold" style="padding:5px !important;">{{"First Name"|translate}}</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='firstName'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>

                            </th>
                            <th ng-click="sort(lastName)" style="min-width:80px !important;">
                                <span class="bold" style="padding:5px !important;">{{"Last Name"|translate}}</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='lastName'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>

                            </th>
                            <th style="min-width:80px !important;" ng-click="sort(email)">
                                <span class="bold" style="padding:5px !important;">{{"Email ID"|translate}}</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>

                            </th>
                            <th style="min-width:80px !important;">
                                <span class="bold" style="padding:5px !important;">{{"Office Phone Number"|translate}}</span>
                            </th>
                            <th ng-click="sort(branchId)" style="min-width:80px !important;">
                                <span class="bold" style="padding:5px !important;">{{"Branch ID"|translate}}</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='branchId'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>

                            </th>
                            <th ng-click="sort(designation)" style="min-width:80px !important;">
                                <span class="bold" style="padding:5px !important;">{{"Designation"|translate}}</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='designation'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>

                            </th>

                            <th ng-click="sort(reportingManagerEmail)" style="min-width:80px !important;">
                                <span class="bold" style="padding:5px !important;">{{"Reporting Manager Email ID"|translate}}</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='reportingManagerEmail'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>

                            </th>
                            <th ng-click="sort(role)" style="min-width:80px !important;">
                                <span class="bold" style="padding:5px !important;">{{"Role"|translate}}</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='role'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>

                            </th>
                            <th ng-click="sort(accountActive)" style="min-width:80px !important;">
                                <span class="bold" style="padding:5px !important;">{{"Account Active"|translate}}</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='accountActive'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                            </th>

                        </tr>

                        <tr ng-repeat="item in UserList|orderBy:sortKey:reverse">
                            <td style="display:none"></td>
                            <td onclick="Edit(this)">
                                <span id="id_{{$index}}">{{item.id}}</span>
                                <input type="text" id="id{{$index}}" ng-model="item.id" style="display:none; margin: -3px;" onblur="HideTextbox(this)" />
                            </td>
                            <td onclick="Edit(this)">
                                <span id="firstName_{{$index}}">{{item.firstName}}</span>
                                <input type="text" id="firstName{{$index}}" ng-model="item.firstName" style="display:none; margin: -3px;margin: -3px;" onblur="HideTextbox(this)" />
                            </td>
                            <td onclick="Edit(this)">
                                <span id="lastName_{{$index}}">{{item.lastName}}</span>
                                <input type="text" id="lastName{{$index}}" ng-model="item.lastName" style="display:none; margin: -3px;" onblur="HideTextbox(this)" />
                            </td>
                            <td onclick="Edit(this)">
                                <span id="email_{{$index}}">{{item.email}}</span>
                                <input type="text" id="email{{$index}}" ng-model="item.email" style="display:none; margin: -3px;" onblur="HideTextbox(this)" />
                            </td>
                            <td onclick="Edit(this)">
                                <span id="officePhone_{{$index}}">{{item.officePhone}}</span>
                                <input type="text" id="officePhone{{$index}}" ng-model="item.officePhone" style="display:none; margin: -3px;" onblur="HideTextbox(this)" />
                            </td>
                            <td onclick="Edit(this)">
                                <span id="branchId_{{$index}}">{{item.branchId}}</span>
                                <input type="text" id="branchId{{$index}}" ng-model="item.branchId" style="display:none; margin: -3px;" onblur="HideTextbox(this)" />
                            </td>
                            <td onclick="Edit(this)">
                                <span id="designation_{{$index}}">{{item.designation}}</span>
                                <input type="text" id="designation{{$index}}" ng-model="item.designation" style="display:none; margin: -3px;" onblur="HideTextbox(this)" />
                            </td>
                            <td onclick="Edit(this)">
                                <span id="reportingManagerEmail_{{$index}}">{{item.reportingManagerEmail}}</span>
                                <input type="text" id="reportingManagerEmail{{$index}}" ng-model="item.reportingManagerEmail" style="display:none; margin: -3px;" onblur="HideTextbox(this)" />
                            </td>
                            <td onclick="Edit(this)">
                                <span id="role_{{$index}}">{{item.role}}</span>
                                <input type="text" id="role{{$index}}" ng-model="item.role" style="display:none; margin: -3px;" onblur="HideTextbox(this)" />
                            </td>
                            <td onclick="Edit(this)">
                                <span id="accountActive_{{$index}}">{{item.accountActive}}</span>
                                <input type="text" id="accountActive{{$index}}" ng-model="item.accountActive" style="display:none; margin: -3px;" onblur="HideTextbox(this)" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--end Verify screen -->
<!-- Finsh screen -->
<div class="col-md-12" ng-if="FinishScreen">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <span class="caption-subject green bold">{{"UploadSuccessful"|translate}}</span>
            </div>
            <div class="tools">
                <button class="sbold btn btnMargin" ng-click="Done($event)">{{'ControlText.Done'|translate}}</button>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <label class="col-md-2 col-sm-2 control-label text-right text-info">{{'ControlText.FileName'|translate}} :</label>
                    <div class="col-md-10 sbold">
                        {{FileDetails.FileName}}
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="col-md-2 col-sm-2 control-label text-info text-right">{{'ControlText.Status'|translate}} :</label>
                    <div class="col-md-6">
                        <uib-progressbar class="progress-striped active green" value="uploader.progress" type="{{type}}">
                            {{type}}
                            <i ng-if="showProgress"> {{uploader.progress}}% </i>
                            <i ng-if="uploader.progress > 99"> DONE!! </i>
                        </uib-progressbar>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="col-md-2 col-sm-2 control-label text-right text-info">{{'ControlText.RowProcessed'|translate}} :</label>
                    <div class="col-md-10 sbold">
                        {{data.totalUploaded}}/{{data.totalUploaded}}
                    </div>
                </div>

                <div class="col-md-12">
                    <label class="col-md-2 col-sm-2 control-label text-right text-info">{{'ControlText.NewItemsCreated'|translate}} :</label>
                    <div class="col-md-10 sbold">
                        {{data.created}}/{{data.totalUploaded}}
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="col-md-2 col-sm-2 control-label text-right text-info">{{'ControlText.ItemsUpdated'|translate}} :</label>
                    <div class="col-md-10 sbold">
                        {{data.updated}}/{{data.totalUploaded}}
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="col-md-2 col-sm-2 control-label text-right text-info">{{'ControlText.FailedItem'|translate}} :</label>
                    <div class="col-md-10 sbold">
                        {{data.failed}}/{{data.totalUploaded}}
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="portlet light padding1px" ng-if="data.failedZipcodes.length > 0">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="portlet-title" style="border-bottom: 1px solid #666; margin-bottom: 5px;">
                            <div class="caption font-gray-sharp ">
                                <span class="caption-subject ng-binding" style="font-size: 18px;color: #666;">{{"Failed ZipCodes"|translate}}</span>
                            </div>
                        </div>

                        <div class="col-md-8 table-responsive padding1px" style="background-color: white;"
                            id="table-container">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column sticky-table-header"
                                id="NavigateTable">
                                <thead>
                                    <tr>
                                        <th class="col-xs-2" ng-click="sort('row')">
                                            {{"Table.row"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey==='row'"
                                                ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                        </th>

                                        <th class="col-xs-2" ng-click="sort('zipcode')">
                                            {{"Table.UserData"|translate}} ({{"Table.zipcode"|translate}})
                                            <span class="glyphicon sort-icon" ng-show="sortKey==='zipcode'"
                                                ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                        </th>

                                        <th class="col-xs-2" ng-click="sort('message')">
                                            {{"Table.message"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey==='message'"
                                                ng-class="{'glyphicon-chevron-up pull-right':!reverse,'glyphicon-chevron-down pull-right':reverse}"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="failedZipcode in data.failedZipcodes | orderBy:sortKey:reverse | itemsPerPage:20">
                                        <td class="col-xs-2">{{failedZipcode.row}}</td>
                                        <td class="col-xs-2">{{failedZipcode.zipcode}}</td>
                                        <td class="col-xs-3" ng-init="limit = limit; moreShown = false">{{(failedZipcode.errorMessage
                                            | limitTo: limit) + (failedZipcode.errorMessage.length > limit ? '...' :
                                            '')}}
                                            <a ng-show="failedZipcode.errorMessage.length > limit && !moreShown" href ng-click="limit=failedZipcode.errorMessage.length; moreShown = true">
                                                More
                                            </a>
                                            <a ng-show="moreShown" href ng-click="moreShown = false; limit=50; ">
                                                Less </a>
                                        </td>
                                    </tr>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
<!--end Finsh screen -->
<script>
    var Globaltd = null;
    function Edit(span) {
        if (Globaltd !== null)
            HideTextbox(HideTextbox);
        var td = span;
        td.children[1].style.display = "block";
        td.children[1].focus();
        td.children[0].style.display = "none";
        Globaltd = span;
    }
    function HideTextbox(span) {
        var td = Globaltd;
        td.children[1].style.display = "none";
        td.children[0].style.display = "block";
        Globaltd = null;
    }
</script>
