<style>
    .faqHeader {
        font-size: 20px;
        margin: 10px;
    }

    .ml_15 {
        margin-left: 15px !important;
    }

    .f_15 {
        font-size: 15px !important;
    }

    .f_400 {
        font-weight: 400 !important;
    }

    .p_0_ml_65 {
        padding: 0px !important;
        margin-left: 65px !important;
    }

    .m_10 {
        margin-top: 10px !important
    }

    .p_0 {
        padding: 0px !important;
    }

    .m_5 {
        margin-top: 5px !important;
    }

    .ml_30 {
        margin-left: 30px !important;
    }
    .cursor {
        cursor: pointer;
    }

</style>

<!-- Start of BreadCrum -->
<div class="col-md-12 col-sm-12 padding1px">
</div>
<!-- End of BreadCrum -->

<!-- Start fo FAQ Page -->
<div class="col-lg-12 col-sm-12 col-md-12 padding1px" id="claimfaqId" ng-form="FAQForm">
    <div class="portlet light">
        <div class="col-md-12 col-sm-12 col-xs-12 portlet-title">
            <div class="col-md-12 p_0">
                <div class="caption font-grey-sharp">
                    <span class="faqHeader">Help & FAQs</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 m_10">
            <div class="col-md-6 p_0">
                <span class="font-size:10px"><a class="cursor" ng-click="gotoTableContents()">Back to Table Of Contents</a></span> &nbsp;&nbsp;
                <button id="sample_editable_1_new" class="btn sbold btnMargin btnOptions cursor" style="padding: 5px 5px 7px !important;
                background-color: #337ab7 !important;
                color: white !important;" ng-click="gotoBillingAndPaymentsPage()">
                    Next 3.0 Billing And Payments <i class="fa fa-chevron-right"></i>
                </button>
            </div>
            <div class="col-md-8">
            </div>
        </div>
        <div class="portlet-body">

            <!-- Border Section Start -->
            <div class="col-lg-12 col-md-12 col-sm-12" id="quebox">
                <div class="col-md-6 col-sm-6" style="border: 1px solid #ccc">
                    <div class="faqHeader">2.0 User Adminstration</div>
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="col-md-6">
                            <label id="claimquestion1" class="f_400 f_15 ml_15"><a class="cursor" href="#useradminans1" target="_self">2.1 Create
                                    a
                                    new user</a></label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Border Section End -->

            <!-- User Admin Answer 1 Start -->
            <div id="useradmin1">
                <div class="col-md-12 col-xs-12 col-sm-12 p_0" style="margin-top: 20px !important" id="useradminquestion1">
                    <div class="col-md-6">
                        <label class="f_400 f_15 ml_15"><a class="cursor">2.1 Create a new user</a></label>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12 col-sm-12 m_5" style="margin-left: 25px !important;"
                    id="useradminans1">
                    <div class="col-md-10">
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu
                            pharetra
                            nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed
                            rhoncus,
                            tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.
                            Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio,
                            elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate
                            eros
                            sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam
                            odio
                            euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra.
                            Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
                        </span>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12 col-sm-12 m_5" style="margin-left: 25px !important;"
                    id="claimquestion1image">
                    <div class="col-md-10">
                        <img src="https://picsum.photos/200/300?grayscale" width="400px" height="200px" />
                    </div>
                </div>
            </div>
            <!-- User Admin 1 End -->
        </div>
    </div>
</div>
</div>
<!-- End fo FAQ Page -->