<style>
    .dropHeightMax {
        max-height: 80px;
        overflow-y: auto;
    }
    .mandatory {
        color: red;
    }
</style>
<script>
    function MakeSelect() {
        setTimeout(function () {
            $("#Selet2For").select2({  width: "100%" });
        }, 1000);
    }
    function MakeSelectAdd() {
        setTimeout(function () {
            $("#Selet2For").select2({  width: "100%" });
        }, 100);
    }
</script>
<div class="col-md-12 padding1px">
    <ul class="page-breadcrumb breadcrumb sbold">
        <li>
            <a ng-click="GotoDashboard()">{{"Home"|translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span ng-show="!AddEditUser">{{"Users"|translate}}</span>
            <a ng-show="AddEditUser" ng-click="Cancel($event)">{{"Users"|translate}}</a>
        </li>
        <li ng-show="AddEditUser">
            <span ng-show="!EmployeeDetails.userId"><i class="fa fa-circle"></i>{{"New User"|translate}}</span>
            <span ng-show="EmployeeDetails.userId"><i class="fa fa-circle"></i>{{ EmployeeDetails.lastName}}, {{EmployeeDetails.firstName}}</span>
        </li>
    </ul>
</div>
<div class="col-md-12 portlet light padding1px">
    <div class="portlet-title" ng-show="!AddEditUser">
        <div class="caption font-grey-sharp">
            <span class="caption-subject">{{"Users"|translate}}</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12 " ng-show="!AddEditUser">
                <div class="portlet padding1px">
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 options_Background padding1px">
                                    <div class="col-lg-5 col-md-5 col-sm-12 margin-bottom-5 margin-top-5 ">
                                        <button class="btn btnMargin sbold btnOptions" onclick="MakeSelectAdd()" ng-click="editAdminContact()">{{"Add New User"|translate}}</button>
                                        <button class="btn btnMargin sbold" ng-click="LoadUserDetailsFromFile()">{{"Load From File"|translate}}</button>
                                        <button class="btn btnMargin sbold">{{"Export"|translate}}</button>
                                    </div>
                                    <div class="col-lg-4 col-md-4 pull-right margin-bottom-5 margin-top-5">
                                        <div class="input-icon left">
                                            <i class="icon-magnifier"></i>
                                            <input type="text" ng-model="search" class="form-control form-control-solid input-circle input-block-level " placeholder="{{'SearchUser' | translate}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 table-responsive padding1px">
                                    <table class="table  table-striped table-bordered table-hover table-checkable order-column">
                                        <thead>
                                            <tr>
                                                <th ng-click="sort('userId')">
                                                    {{"Id"|translate}}
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='userId'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                </th>
                                                <th ng-click="sort('firstName')">
                                                    {{"Table.username"|translate}}
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='firstName'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                </th>
                                                <th ng-click="sort('accountStatus')">
                                                    {{"Table.Status"|translate}}
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='accountStatus'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>

                                                </th>
                                                <th>
                                                    {{"Table.designation"|translate}}
                                                </th>
                                                <th>
                                                    {{"Table.role"|translate}}
                                                </th>
                                                <th>
                                                    {{"Table.branch"|translate}}
                                                </th>
                                                <th ng-click="sort('lastLogin')">
                                                    {{"Table.lastaccess"|translate}}
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='lastLogin'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                </th>
                                                <!--<th ng-click="sort('memberSince')">
                                                    {{"Table.membersince"|translate}}
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='memberSince'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                </th>-->
                                                <th class="">
                                                    {{"Table.operation"|translate}}
                                                    <span class="glyphicon sort-icon"></span>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="item in CompanyEmployeeList|orderBy:sortKey:reverse|filter:search|itemsPerPage:pagesize"
                                                current-page="pageNum" total-items="CompanyTotalEmp" pagination-id="empList">
                                                <td>{{item.userId}}</td>
                                                <td>{{item.lastName +", "+item.firstName}} </td>
                                                <td>
                                                    <!--<span ng-show="item.accountStatus===true" class="btn btn-circle btn-xs green">Active</span>
                                                    <span ng-show="item.accountStatus===false" class="btn btn-circle btn-xs red">In-Active</span>-->
                                                    <span ng-show="item.accountStatus===true">Active</span>
                                                    <span ng-show="item.accountStatus===false">In-Active</span>
                                                </td>
                                                <td>{{item.designation.name}}</td>
                                                <td>{{item.role[0].roleName}}</td>
                                                <td>{{item.branchDetails.companyName}}</td>
                                                <td>{{item.lastLogin | DateFormatMMddyyyyHHmm}}</td>
                                                <!--<td>{{item.memberSince |DateFormatMMddyyyy}}</td>-->
                                                <td class="">
                                                    <a ng-click="editAdminContact(item)" onclick="MakeSelect()"> {{"btn.edit"|translate}}</a>
                                                  | <a ng-click="DeleteAdminContact(item,$index)">{{ item.accountStatus== true ? "In-Active" :  "btn.delete"|translate }}</a>
                                                </td>
                                                <!--<td class="text-center">
                                                    <div class="btn-group text-right">
                                                        <span ng-click="editAdminContact(item)" onclick="MakeSelect()" class="btn btn-link btn-xs" style="margin:0px!important">{{"btn.edit"|translate}}</span>
                                                        <span ng-click="DeleteAdminContact(item,$index)" class="btn btn-link btn-xs" style="margin:0px!important">{{"btn.delete"|translate}}</span>
                                                    </div>
                                                </td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                    <dir-pagination-controls max-size="10" ng-if="CompanyEmployeeList!=null && CompanyEmployeeList.length!=0"
                                        pagination-id="empList" direction-links="true" template-url="tpl/dirPagination.tpl.html"
                                        boundary-links="true" on-page-change="pageChanged(newPageNumber)"
                                        class="pull-right">
                                    </dir-pagination-controls>

                                    <!-- <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true" class="pull-right ">
                                    </dir-pagination-controls> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-show="AddEditUser">
                <div class="portlet light padding1px">
                    <div class="portlet-title">
                        <div class="caption font-grey-sharp">
                            <span class="caption-subject  " ng-show="!EmployeeDetails.userId"> New User</span>
                            <span class="caption-subject  " ng-show="EmployeeDetails.userId"> {{ EmployeeDetails.lastName}}, {{EmployeeDetails.firstName}}</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tools pull-right margin-right-10">
                            <button id="btnNext" ng-show="!IsEdit" class="btn sbold btnMargin margin-top-10" ng-click="Cancel($event)" onclick="MakeSelectAdd()">
                                {{"btn.btnCancel"|translate}}
                            </button>
                            <button id="btnNext" ng-show="!IsEdit" class="btn sbold btnMargin margin-top-10" ng-click="Update($event)" ng-disabled="Form.$invalid || Form.$pristine">
                                {{"Create User"|translate}}
                            </button>
                            <button id="btnNext" ng-show="IsEdit" class="btn sbold btnMargin margin-top-10" ng-click="Update($event)" ng-disabled="Form.$invalid || Form.$pristine">
                                {{"Update"|translate}}
                            </button>
                            <button id="btnNext" ng-show="IsEdit" class="btn sbold btnMargin margin-top-10" ng-click="ActiveInactiveContact(EmployeeDetails)" ng-disabled="isButtonClicked">
                                {{EmployeeDetails.accountStatus== true ? "De-Activate" :  "Activate"|translate}}
                            </button>
                            <button id="btnNext" ng-show="IsEdit" class="btn sbold btnMargin margin-top-10" ng-click="DeleteAdminContactDirect(EmployeeDetails)">
                                {{"Delete User"|translate}}
                            </button>

                        </div>
                        <div class="row">
                            <div class="col-md-12" ng-form="Form">
                                <!--First Row-->
                                <div class="col-md-12">
                                    <!-- <div class="form-group col-md-6 col-lg-6 col-sm-12">
                                        <label class="control-label col-md-4 col-lg-4 col-xs-12 col-sm-6 Label_Text_Right"><strong class="mandatory">*</strong>&nbsp;{{"FormControlText.UserName"|translate}}
                                            </label>
                                        <div class="col-md-8 col-lg-8 col-sm-6">
                                            <input type="text" class="form-control" name="UserName" ng-model="EmployeeDetails.email" readonly placeholder='{{"FormControlText.UserName"|translate}}' />
                                        </div>
                                    </div> -->

                                    <!-- <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12" ng-show="EmployeeDetails.userId">
                                        <label class="control-label col-md-4 col-xs-12 Label_Text_Right col-sm-6"><strong class="mandatory">*</strong>&nbsp;{{"FormControlText.Password"|translate}} </label>
                                        <div class="col-md-8 col-xs-12 col-sm-6">
                                            <div class="col-md-6 col-sm-4"><label>********</label></div>
                                            <div class="col-md-6 col-sm-8"><a class="text-danger" ng-click="ResetPassword($event)"> {{'FormControlText.ResetPassword'|translate}} </a></div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-4 col-xs-12 col-sm-6 Label_Text_Right"><strong class="mandatory">*</strong>&nbsp;{{"FormControlText.FirstName"|translate}} </label>
                                        <div class="col-md-8 col-xs-12 col-sm-6">
                                            <input type="text" class="form-control" required name="FirstName"
                                                   ng-model="EmployeeDetails.firstName" placeholder='{{"FormControlText.FirstName"|translate}}' />
                                            <div ng-message="required" ng-show="(Form.FirstName.$error.required && Form.FirstName.$touched)">
                                                <span class="text-danger">{{"Please enter first name."|translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                             </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-4 col-xs-12 col-sm-6 Label_Text_Right"><strong class="mandatory">*</strong>&nbsp;{{"FormControlText.LastName"|translate}} </label>
                                        <div class="col-md-8 col-xs-12 col-sm-6">
                                            <input type="text" class="form-control" required name="LastName" ng-model="EmployeeDetails.lastName" placeholder='{{"FormControlText.LastName"|translate}}' />
                                            <div ng-message="required" ng-show="(Form.LastName.$error.required && Form.LastName.$touched)">
                                                <span class="text-danger">{{"Please enter last name."|translate}}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-6 Label_Text_Right"><strong class="mandatory">*</strong>&nbsp;{{"FormControlText.Email"|translate}} </label>
                                        <div class="col-md-8 col-sm-6">
                                            <input type="text" class="form-control" required name="Email" ng-model="EmployeeDetails.email" ng-change="emailChanged()" placeholder='{{"FormControlText.Email"|translate}}' />
                                            <div ng-message="required" ng-show="(Form.Email.$error.required && Form.Email.$touched)">
                                                <span class="text-danger">{{"Please enter email."|translate}}</span>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-md-4 col-sm-2">
                                        <label class="control-label col-md-12 col-sm-6" style="
                                        font-style: italic;
                                        margin-left: -40px;
                                        color: red;
                                        ">{{"This will be the login id for the user"|translate}} </label>
                                    </div> 
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-6 Label_Text_Right"><strong class="mandatory">*</strong>&nbsp;{{"FormControlText.PhoneNO"|translate}} </label>
                                        <div class="col-md-8 col-sm-6">
                                            <input type="text" name="phone" ng-pattern="/^([0-9-,()\s+]{15})$/" ng-trim="false" maxlength="15" required autocomplete="phone-number"
                                                   ng-model="EmployeeDetails.dayTimePhone" placeholder="XXX-XXX-XXXX" phone-input class="input-phone form-control" />
                                            <div ng-message="required" ng-show="((Form.phone.$error.required ||Form.phone.$error.pattern) && Form.phone.$touched)">
                                                <span class="text-danger">{{"Please enter valid phone number."|translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-1 col-sm-6 Label_Text_Right" style="margin-left: -39px;">{{"Extension"|translate}} </label>
                                        <div class="col-md-8 col-sm-6">
                                            <input type="text" name="extension" maxlength="4" style="margin-left: 17px;width: 30%;"
                                                    ng-model="EmployeeDetails.extension" numbers-only class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-6 Label_Text_Right"><strong class="mandatory"></strong>&nbsp;{{"FormControlText.MobileNo"|translate}} </label>
                                        <div class="col-md-8 col-sm-6">
                                            <input type="text" name="cellphone" ng-trim="false" maxlength="15" autocomplete="phone-number"
                                                   ng-model="EmployeeDetails.cellPhone" placeholder="XXX-XXX-XXXX" phone-input class="input-phone form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!---End First Row--->
                                <div class="col-md-12">
                                    <hr/>
                                </div>
                                <!--<div class="portlet-title"></div>-->
                                <div class="col-md-12">
                                    <div class="form-group col-md-6 col-xs-12 col-sm-12">
                                        <label class="col-md-4 col-sm-6 Label_Text_Right">{{"FormControlText.Branch"|translate}}</label>
                                        <div class="col-md-8 col-sm-6 dropHeightMax">
                                            <select class="form-control input-medium select2me " name="branch" id="SeletbranchFor"
                                                    ng-options="opt.id as opt.branchName for opt in OfficeList" placeholder="Select the"
                                                    ng-model="EmployeeDetails.branchDetails.id"></select>
                                            <div ng-message="required" ng-show="(Form.reporting.$error.required && Form.reporting.$touched)">
                                                <span class="text-danger">{{"Please select branch."|translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group col-md-6 col-lg-6 col-sm-12">
                                        <label class="control-label col-md-4 col-sm-6 Label_Text_Right"><strong class="mandatory">*</strong>&nbsp;{{"FormControlText.Designation"|translate}} </label>
                                        <div class="col-md-8 col-sm-6">
                                            <select class="form-control input-medium select2me " required name="designation" ng-model="EmployeeDetails.designation.id " ng-options="opt.id as opt.name for opt in DesignationList"></select>
                                            <div ng-message="required" ng-show="(Form.designation.$error.required && Form.designation.$touched)">
                                                <span class="text-danger">{{"Please select designation."|translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                              


                                <div class="col-md-12">
                                    <div class="form-group col-md-6 col-xs-12 col-sm-12">
                                        <label class="col-md-4 col-sm-6 Label_Text_Right"><strong class="mandatory">*</strong>&nbsp;{{"FormControlText.Role"|translate}} </label>
                                        <div class="col-md-8 col-sm-6 dropHeightMax">
                                            <select class="form-control input-medium select2me " required name="role" ng-options="opt.id as opt.name for opt in RoleList" placeholder="Select the" ng-change="updateRoleValue(EmployeeDetails.role.id)" ng-model="EmployeeDetails.role.id"></select>
                                            <div ng-message="required" ng-show="(Form.reporting.$error.required && Form.reporting.$touched)">
                                                <span class="text-danger">{{"Please select role."|translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                  <div class="col-md-12" ng-if ="IsInsuranceAgent">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label class="col-md-4 col-sm-6 Label_Text_Right"><strong class="mandatory">*</strong>&nbsp;{{"FormControlText.AgencyCode"|translate}} </label>
                                        <div class="col-md-8 col-xs-12 col-sm-6">
                                            <input type="text" class="form-control" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) ||(event.charCode > 47 && event.charCode <58))' maxlength="20" required name="AgencyCode" ng-model="EmployeeDetails.agencyCode" placeholder='{{"FormControlText.AgencyCode"|translate}}' />
                                            <div ng-message="required" ng-show="(Form.AgencyCode.$error.required && Form.AgencyCode.$touched)">
                                                <span class="text-danger">{{"Please enter Agency Code."|translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                                
                                <div class="col-md-12">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label class="col-md-4 col-sm-6 Label_Text_Right"><strong class="mandatory">*</strong>&nbsp;{{"FormControlText.ReportingManager"|translate}} </label>
                                        <div class="col-md-8 col-sm-6">
                                            <select class="form-control input-medium select2me " name="reporting"
                                                    ng-model="EmployeeDetails.reportingManagerId" ng-options="item.id as item.firstName + ' ' + item.lastName +' ( '+item.role[0].roleName.toUpperCase()+' )' for item in ReportingManager"></select>
                                            <div ng-message="required" ng-show="(Form.reporting.$error.required && Form.reporting.$touched)">
                                                <span class="text-danger">{{"Please select reporting manager."|translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-6 col-xs-12 col-sm-12">
                                        <label class="col-md-4 col-sm-6 Label_Text_Right"><strong class="mandatory">*</strong>&nbsp;{{"SSO Enabled"|translate}} </label>
                                        <div class="col-md-8 col-sm-6 dropHeightMax">
                                            <select class="form-control input-medium select2me " required name="SSO"  placeholder="Select the SSO " ng-model="EmployeeDetails.SSOEnabled">
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                            <div ng-message="required" ng-show="(Form.reporting.$error.required && Form.reporting.$touched)">
                                                <span class="text-danger">{{"Please select SSO Enabled."|translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                             
                                <div class="col-md-12" ng-if="EmployeeDetails.displayPicture != null">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label class="col-md-4 col-sm-6 Label_Text_Right">{{"FormControlText.ProfilePictureUpload"|translate}} </label>
                                        <div  class="col-md-8 col-sm-6">
                                            <input id="FileUpload" multiple type="file"
                                                onchange="angular.element(this).scope().getAttachmentDetails(this)"
                                                style="display: none;" accept="image/*">
                                            <a style="text-decoration:none"
                                                ng-click="AddProfilePicture($event)">{{"Upload new picture"|translate}}</a>&nbsp;&nbsp;
                                                <a style="text-decoration:none;padding-left: 31px;" class="text-right"
                                                ng-click="DeleteProfilePicture($event)">{{"Delete"|translate}}</a>&nbsp;&nbsp;
                                        </div>
                                        <!-- <div class="col-md-8 col-sm-6">
                                           <a ng-click="resetUserPassword(EmployeeDetails)">{{"FormControlText.ProfilePictureUploadLink"|translate}}</a>
                                        </div> -->
                                    </div>
                                </div>

                                <!-- start profile pitctur Details -->
                                <div class="col-md-12" ng-if="EmployeeDetails.displayPicture == null">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label class="col-md-4 col-sm-6 Label_Text_Right">{{"FormControlText.ProfilePictureUpload"|translate}} </label>
                                        <div  class="col-md-8 col-sm-6" >
                                            <input id="FileUpload" multiple type="file"
                                                onchange="angular.element(this).scope().getAttachmentDetails(this)"
                                                style="display: none;" accept="image/*">
                                            <a style="text-decoration:none"
                                            ng-click="AddProfilePicture($event)">{{"Click to upload a profile picture"|translate}}</a>&nbsp;&nbsp;
                                        </div> 
                                        </div>
                                        </div>
                                
                    <!-- <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-12 "><span class="caption-subject">{{"Profile Picture"|translate}}</span></div>
                            <div class="clearfix"></div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" ng-if="I && EmployeeDetails.profilePicture == null">
                                <input id="FileUpload" multiple type="file"
                                    onchange="angular.element(this).scope().getAttachmentDetails(this)"
                                    style="display: none;" accept="image/*|.pdf|.xls|.xlsx">
                                <a style="text-decoration:none"
                                    ng-click="AddProfilePicture($event)">{{"Click to upload a profile picture"|translate}}</a>&nbsp;&nbsp;
                            </div> -->
                            <!-- befor saving image file in db fileUrl is not generated so we are refering Image feild in ng-src -->
                            <div class="col-md-12"  ng-if="EmployeeDetails.displayPicture != null && EmployeeDetails.displayPicture.fileUrl == null">
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label class="col-md-4 col-sm-6 Label_Text_Right"></label>
                            
                            <div  class="ccol-md-8 col-sm-6">
                                <img ng-src="{{EmployeeDetails.displayPicture.Image}}" alt="Pictures of the incident"
                                    class="img-responsive bordered "
                                    style="width:200px; height:190px;padding:5px;border:1px groove;" />  
                            </div>
                           </div>
                          </div>
                            <!-- after saved image file in db fileUrl is generated so we are refering fileUrl feild in ng-src -->
                            <div class="col-md-12"  ng-if="EmployeeDetails.displayPicture != null  && EmployeeDetails.displayPicture.fileUrl != null">
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label class="col-md-4 col-sm-6 Label_Text_Right"></label>
                            
                            <div  class="ccol-md-8 col-sm-6">
                                <img ng-src="{{EmployeeDetails.displayPicture.fileUrl}}" alt="Pictures of the incident"
                                    class="img-responsive bordered"
                                    style="width:200px; height:190px;padding:5px;border:1px groove;" />  
                            </div>
                        </div>
                    </div>
                            
                            <!-- <div class="clearfix"></div>
                            <div class="col-md-12"  ng-if="EmployeeDetails.displayPicture != null">
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label class="col-md-4 col-sm-6 Label_Text_Right">{{"FormControlText.ProfilePictureUpload"|translate}} </label>
                                    <div  class="col-md-8 col-sm-6">
                                        <input id="FileUpload" multiple type="file"
                                            onchange="angular.element(this).scope().getAttachmentDetails(this)"
                                            style="display: none;" accept="image/*">
                                        <a style="text-decoration:none"
                                            ng-click="AddProfilePicture($event)">{{"Upload new picture"|translate}}</a>&nbsp;&nbsp;
                                            <a style="text-decoration:none;padding-left: 31px;" class="text-right"
                                            ng-click="DeleteProfilePicture($event)">{{"Delete"|translate}}</a>&nbsp;&nbsp;
                                    </div> 
                         
                        </div>
                    </div> -->


                                <div class="col-md-12" ng-if="EmployeeDetails.isAccountBlocked">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label class="col-md-4 col-sm-6 Label_Text_Right">{{"FormControlText.AccountStatust"|translate}}</label>
                                        <div class="col-md-3 col-sm-9">
                                                <a ng-click="unblockEmployee()">{{"Unblock"|translate}}</a>                                      
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="col-md-12" ng-if="!EmployeeDetails.isAccountBlocked">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label class="col-md-4 col-sm-6 Label_Text_Right">{{"FormControlText.PasswordReset"|translate}} </label>
                                        <div class="col-md-8 col-sm-6">
                                           <a ng-click="resetUserPassword(EmployeeDetails)">{{"FormControlText.PasswordResetLink"|translate}}</a>
                                        </div>
                                    </div>
                                </div>


                                <!-- <div class="col-md-12">
                                    <div class="form-group col-md-6 col-xs-12 col-sm-12">
                                        <label class="col-md-4 col-sm-6 Label_Text_Right"><strong class="mandatory">*</strong>&nbsp;{{"FormControlText.AccountStatust"|translate}} </label>
                                        <div class="col-md-8 col-sm-6 dropHeightMax">
                                            <select class="form-control input-medium select2me" required name="account" ng-options="opt.id as opt.name for opt in accountStatusList" placeholder="Select the" ng-model="EmployeeDetails.accountStatus"></select>
                                            <div ng-message="required" ng-show="(Form.account.$error.required && Form.account.$touched)">
                                                <span class="text-danger">{{"Please select account status."|translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->


                            </div>
                        </div>
                        <div class="col-md-12 clearfix margin-bottom-20"></div>
                        <div class="col-md-12 tools text-right topBorder margin-right-10 margin-top-10">
                            <button id="btnNext" ng-show="!IsEdit" class="btn sbold btnMargin margin-top-10" ng-click="Cancel($event)" onclick="MakeSelectAdd()">
                                {{"btn.btnCancel"|translate}}
                            </button>
                            <button id="btnNext" ng-show="!IsEdit" class="btn sbold btnMargin margin-top-10" ng-click="Update($event)" ng-disabled="Form.$invalid || Form.$pristine">
                                {{"Create User"|translate}}
                            </button>
                            <button id="btnNext" ng-show="IsEdit" class="btn sbold btnMargin margin-top-10" ng-click="Update($event)" ng-disabled="Form.$invalid || Form.$pristine">
                                {{"Update"|translate}}
                            </button>
                            <button id="btnNext" ng-show="IsEdit" class="btn sbold btnMargin margin-top-10" ng-click="ActiveInactiveContact(EmployeeDetails)">
                                {{EmployeeDetails.accountStatus== true ? "De-Activate" :  "Activate"|translate}}
                            </button>
                            <button id="btnNext" ng-show="IsEdit" class="btn sbold btnMargin margin-top-10" ng-click="DeleteAdminContactDirect(EmployeeDetails)">
                                {{"Delete User"|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
