<div>
    <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel($event)"></a>
        <h4  ng-if="CommonObj.type === null || (CommonObj.type != 'BUYOUT' && CommonObj.type != 'PAYMENT')" class="modal-title">Estimate {{CommonObj.action}}</h4>
        <h4 ng-if="CommonObj.type === 'BUYOUT'" class="modal-title">Buy Out {{CommonObj.action}}</h4>
        <h4 ng-if="CommonObj.type === 'PAYMENT'" class="modal-title">Pay Out {{CommonObj.action}}</h4>
    </div>
    <div class="modal-body">
        <div class="row" style="margin:10px;">
            <div class="col-md-12 col-sm-12">
                <span ng-if="CommonObj.type === null || (CommonObj.type != 'BUYOUT' && CommonObj.type != 'PAYMENT')">Please enter a note to confirm that Estimate Request was {{CommonObj.action}}</span>
                <span ng-if="CommonObj.type === 'BUYOUT'">Please enter a note to confirm that Buy Out Request was {{CommonObj.action}}</span>
                <span ng-if="CommonObj.type === 'PAYMENT'">Please enter a note to confirm that Pay Out Request was {{CommonObj.action}}</span>


            </div>
            <div class="col-md-12 col-sm-12 form-group">
                <textarea class="form-control" rows="10" ng-model="CommonObj.approveMessage" name="Description" ng-attr-placeholder='{{"Enter a note"|translate}}' style="resize: none;" maxlength="1000"></textarea>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default sbold" ng-click="cancel()">{{"Cancel"|translate}}</button>
        <button type="button" data-dismiss="modal" class="btn btn-default sbold" ng-click="ok()" ng-disabled="!CommonObj.approveMessage">{{"Submit"|translate}}</button>
    </div>
</div>